.place__text {
    margin: 0 0 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    
}
.place__text:nth-child(2n) {
    margin-bottom: 0;
}
.place__text:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .place__text {
        line-height: 26px;
        font-size: 16px;
        margin-bottom: 25px;
        min-height: 104px;
        max-height: 390px;
    }
}

@media screen and (max-width: 767px) {
    .place__text {
        margin: 0 0 25px;
        padding: 0 16px;
        max-height: 468px;
    }
  
}
