.place__url-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    text-decoration: none;

}
@media screen and (max-width: 767px) {
    .place__url-heading {
        padding: 0 16px;
    }
}